<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>{{ post.title}}</h1>
    <hr>
    {% for post in posts %}
        <h2>
        <a href="{% url 'blog_detail' post.pk %}"> {{ post.title }}</a>
        </h2>
        <smal>
        Категории:&nbsp;
        {%  for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name%}">
            {{ category.name }}
            </a>&bnsp;
        {% endfor %}

        </smal>
        <p> {{ post.body |linebreaks }}</p>
    {% endfor %}
</div>
{% endblock %}

</body>
</html>