<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
     <style>
        body {
            background-image: url("https://phonoteka.org/uploads/posts/2021-03/1616367308_24-p-fon-dlya-saita-25.jpg");
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: rgb(100, 70, 90);
             }

    </style>
</head>
<body>
{% block page_content %}
<div class = 'row'>

        <div class = 'card-body'>
        <h5>О проекте {{ project.name }}:</h5>
            <br>
        <p >{{ project.description }}</p>
            <br>
        <h5>Технологии:</h5>
            <p>{{ project.technology }}</p>
        </div>
    <a href="{%  url 'project_index'%}">Вернуться к проектам</a>
</div>
{% endblock %}
</body>
</html>